@font-face {
    font-family: 'JSesh';
    src: url('https://files.qenherkhopeshef.org/jsesh/JSeshFont.ttf');
}
svg text.sign { font-family: 'JSesh', 'Monaco', Serif; }
svg text.unknown { font-family: 'Monaco', Serif; color: red; fill: red; }
